@charset "UTF-8";

body {
  font-family: "Josefin Slab", "Hiragino Sans GB", sans-serif;
  background: #f0f0f0;
  margin: 0;
  padding: 0;
}

a {
  color: #256db3;
  text-decoration: none;
  border-bottom: 1px dotted #207ad4;
}

ul {
  list-style: circle;
}

a:visited {
  color: #207ad4;
}

a:hover {
  color: #495961;
  border-bottom: 1px solid #495961;
}

#header, #content {
  margin: 0 auto;
  width: 860px;
  position: relative;
}

#header {
  border-top: 2px solid #40866a;
  padding: 0;
}

#content {
  margin-bottom: 30px;
  padding: 20px 0;
  background: #fff;
  font-size: 16px;
}

.site_title {
  font-style: normal;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -2px;
  word-spacing: 0.3em;
  -moz-text-shadow: #ddd 1px 1px 1px;
  -webkit-text-shadow: #ddd 1px 1px 1px;
  text-shadow: #ddd 1px 1px 1px;
}

.site_title a {
  color: #1693a5;
  -moz-text-shadow: #ddd 1px 1px 1px;
  -webkit-text-shadow: #ddd 1px 1px 1px;
  text-shadow: #ddd 1px 1px 1px;
}

.site_title a:visited {
  color: #1693a5;
}

.site_title a:hover {
  border-bottom: 1px dotted #777;
}

.post {
  font: normal 16px "Philosopher", "Hiragino Sans GB", sans-serif;
}

.post_title {
  font: normal 20px "Cardo", "Hiragino Sans GB", sans-serif;
  font-weight: bold;
  margin: 0 0 5px;
  padding: 20px 20px 0;
}

.post_title a {
  color: #fbb829;
  border-bottom: 1px dotted #eaeaea;
}

.post_title a:hover {
  border-bottom: 1px solid #ccc;
}

.post_meta {
  font-size: 12px;
  font-weight: 100;
  color: #777;
  margin: 0;
  padding: 10px 30px;
}

.post_date {
  color: #888;
  font-size: .85em;
  margin-left: 1em;
}

.post_body pre, .post_body code {
  font: normal 13px "Anonymous Pro", "Hiragino Sans GB", sans-serif;
  font-weight: normal;
  line-height: 1.2em;
  color: #444;
}

.post_body {
  line-height: 1.6em;
  color: #000;
  width: 500px;
  margin: 0 1em;
}

.post_body p {
  margin-bottom: 1.5em;
}

.post_body ul, .post_body ol {
  margin: 1em 0 1em 1.5em;
}

.post_body li {
  margin-top: 1em;
}

.post_body abbr {
  color: #333;
  border-bottom: none;
}

.post_body b, .post i, .post em, .post strong {
  margin: 0 2px;
}

.post_body blockquote {
  background: #fafafa;
  padding: 5px 10px 5px 20px;
  -webkit-box-shadow: #ccc 1px 1px 1px;
  -moz-box-shadow: #ccc 1px 1px 1px;
  box-shadow: #ccc 1px 1px 1px;
}

.post_body blockquote ul,
.post_body blockquote ol {
  margin: 1em 0;
  padding-left: 0.5em;
}

.post_body .illustration {
  position: absolute;
  left: 540px;
}

.post_body .illustration img {
  border: 1px solid #ccc;
}

.post_body .illustration a {
  border-bottom: none;
}

.post_body code, .post_body pre.code {
  background: #111;
  padding: 1px 5px;
  color: #fff;
  -webkit-text-shadow: #000 1px 1px 1px;
  -moz-text-shadow: #000 1px 1px 1px;
  text-shadow: #000 1px 1px 1px;
}

.post_body pre.code {
  margin: 1em 0 1em 1.5em;
  padding: 7px 10px;
  overflow: scroll;
}

.post_body pre.code:hover {
  position: relative;
  width: 720px;
}

.header_nav {
  background: #40866a;
  list-style: none;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0 10px 5px;
  line-height: 1.2em;
  -moz-box-shadow: #999 1px 1px 1px;
  -webkit-box-shadow: #999 1px 1px 1px;
  box-shadow: #999 1px 1px 1px;
}

.header_nav li {
  float: left;
  letter-spacing: -1px;
  margin-left: 5px
}

.header_nav a {
  color: #fff;
  display: block;
  margin: 2px 5px;
  border-bottom: 1px dotted #aaa;
  -moz-text-shadow: #666 1px 1px 1px;
  -webkit-text-shadow: #666 1px 1px 1px;
  text-shadow: #666 1px 1px 1px;
}

.header_nav a:hover {
  border-bottom: 1px solid #ccc;
}

.archive {
  list-style: none;
}

.archive li {
  margin: 10px 0;
}

.about, .page404 {
  font-size: 16px;
  color: #333;
  margin: 40px;
  border-bottom: 1px solid #aaa;
}

.about li {
  margin: 10px 0;
}

.favicon {
  vertical-align: middle;
  margin: 0 3px;
}

.fork_container > div {
  float: left;
  margin: 0 5px;
  padding: 0 10px;
  min-width: 160px;

}

.page404 {
  border-bottom: none;
}
