<!doctype html>
<!--[if lt IE 7 ]><html lang="zh-cn" class="ie6"><![endif]-->
<!--[if IE 7 ]><html lang="zh-cn" class="ie7"><![endif]-->
<!--[if IE 8 ]><html lang="zh-cn" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="zh-cn" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="zh-cn"><!--[endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
{% if page.title %}
  <title>{{ page.title }} - Leechael's Weblog</title>
{% else %}
  <title>Leechael's Weblog</title>
{% endif %}
  <link href="http://fonts.googleapis.com/css?family=Philosopher|Cardo|Anonymous+Pro|Josefin+Slab:700" rel="stylesheet" type="text/css" />
  <link href="/assets/desktop.css" rel="stylesheet" type="text/css" />
  <link href="/feed" rel="alternate" title="RSS" type="application/rss+xml" />
</head>
{{ content }}
</body>
</html>
