<!doctype html>
<!--[if lt IE 7 ]><html lang="zh-cn" class="ie6"><![endif]-->
<!--[if IE 7 ]><html lang="zh-cn" class="ie7"><![endif]-->
<!--[if IE 8 ]><html lang="zh-cn" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="zh-cn" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="zh-cn"><!--[endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <title>{{ page.title }}</title>
</head>
<body>
  <div class="header">
  </div>

  <div class="container post">
    <h1>
    	<a href="{{ page.url }}">{{ page.title }}</a>
    </h1>
    <div class="body">
{{ content }}
    </div>
  </div>
</body>
</html>
