---
layout: base
---
<body>
  <div id="header">
    <ul class="header_nav">
    	<li>
    		<a href="/" rel="nofollow">Home</a>
    	</li>
    	<li>
    		<a href="#content" rel="nofollow">Skip to Content</a>
    	</li>
    </ul>
    <h2 class="site_title">
      <a href="/" rel="home">Leechael's Weblog</a>
    </h2>
  </div>

  <div id="content" class="post">
    <h1 class="post_title">
    	<a href="{{ page.url }}">{{ page.title }}</a>
    </h1>
    <div class="post_meta">
      <span class="post_author">Leechael</a> @ <time>{{ page.date | date_to_string }}</time>
    </div>
    <div class="post_body">
{{ content }}
    </div>
  </div>
